<div class="api_response">
    <div class="api_response_header">
        <div class="api_response_status">{{ api_response_status }}</div>
        <div class="api_response_description">{{ api_response_description }}</div>
    </div>
    <div class="api_response_body">
        {{ api_response_body }}
    </div>
</div>