<div class="api_response">
    <div class="api_response_header">
        <div class="api_response_status"><label>{{ api_response_status }}</label></div>
        <div class="api_response_description"><label>{{ api_response_description }}</label></div>
    </div>
    <div class="api_response_body">
        {{ api_response_body }}
    </div>
</div>
