<div class="api_parameter">
    <div class="api_parameter_name">{{ api_request_name }}</div>
    <div class="api_parameter_type">{{ api_request_type }}</div>
    <div class="api_parameter_description">{{ api_request_description }}</div>
</div>