<div class="code">
    <div class="header">
        <div class="title">{{ title }}</div>
        <div class="copy"></div>
        <div class="success">복사성공!</div>
    </div>
    <div class="body">{{ body }}</div>
</div>
