<div class="code">
    <div class="code_title">
        <div class="label">{{ code_title }}</div>
        <div class="copy"></div>
        <div class="copy_success">복사성공!</div>
    </div>
    <div class="code_body">{{ code_body }}</div>
</div>
