<div class="block">
    <a class="block_body" href="{{ file_src }}" target="_blank" data-skip-href-to-absolute>
        <div class="thumb file"></div>
        <div class="content">
            <div class="large">{{ file_caption }}</div>
        </div>
    </a>
</div>
