<div class="file_block">
    <a class="file left" href="{{ file_src }}" target="_blank" data-skip-href-to-absolute>
        <div class="block">
            <div class="block_thumb file"></div>
            <div class="block_content">
                <div class="block_title">{{ file_caption }}</div>
            </div>
        </div>
    </a>
</div>