<div class="link_block">
    <a class="left" href="{{ link_url }}">
        <div class="block">
            <div class="block_thumb link"></div>
            <div class="block_content">
                <div class="block_title">{{ link_title }}</div>
                <div class="block_description">{{ link_description }}</div>
            </div>
        </div>
    </a>
</div>