<div class="block">
    <a class="block-body" href="{{ link_url }}">
        <div class="thumb link"></div>
        <div class="content">
            <div class="large">{{ link_title }}</div>
            <div class="small">{{ link_description }}</div>
        </div>
    </a>
</div>
