<div id="{{ tabs_id }}" class="tabs">
    <ul class="tabs_title">
        {% for tab in tabs %}
            <li data-content-id="{{ tab.tab_id }}" class="tab_title{% if tab.first %} selected{% endif %}">{{ tab.title }}</li>
        {% endfor %}
    </ul>
    {{ tab_contents }}
</div>
