<div class="response">
    <div class="header">
        <div class="status"><label>{{ status }}</label></div>
        <div class="description gray">{{ description }}</div>
    </div>
    <div class="content">{{ body }}</div>
</div>
