<div class="{{ code_class }}">
    <div class="header">
        <div class="title">{{ title }}</div>
        <div class="copy" data-code-copy-target-id></div>
        <div class="{{ success_class }}" data-skip-search-index>복사성공!</div>
    </div>
    <div class="body">{{ body }}</div>
</div>
