<div class="block">
    <a class="block-body" href="{{ src }}" target="_blank" data-skip-href-to-absolute>
        <div class="thumb file"></div>
        <div class="content">
            <div class="large">{{ caption }}</div>
        </div>
    </a>
</div>
