<div class="empty_block">
    {% for child in page.potion.children %}
        <a class="left" href="{{ child.url }}">
            <div class="block">
                <div class="block_thumb document"></div>
                <div class="block_content">
                    <div class="block_title">{{ child.page.title }}</div>
                    <div class="block_description">{{ child.page.description }}</div>
                </div>
            </div>
        </a>
    {% endfor %}
</div>