<div class="block_row">
    {% for child in page.potion.children %}
        <div>
            <div class="block">
                <a class="block_body" href="{{ child.url }}">
                    <div class="thumb document"></div>
                    <div class="content">
                        <div class="large">{{ child.page.title }}</div>
                        <div class="small">{{ child.page.description }}</div>
                    </div>
                </a>
            </div>
        </div>
    {% endfor %}
</div>
