<li>
    <div class="nav-link fold {% if has_child? %} has-child {% endif %}">
        <a href="{{ url }}" class="nav-href">{{ page.title }}</a>
        <span class="nav-unfold"> </span>
        <span class="nav-fold"> </span>
    </div>
    {% if has_child? %}
        <ul class="nav-menu">
            {% for potion in children %}
                {{ potion.render_for_navigation }}
            {% endfor %}
        </ul>
    {% endif %}
</li>
